<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <link rel='stylesheet' href='/css/bootstrap.css'></link>
    <link rel="stylesheet" href="/css/Login.css" type="text/css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-1.11.0.min.js"></script>
</head>    